<div class="card h-100 bg-dark text-light" style="overflow:hidden">
    <div class="card-header" style="height: 25%;">
        <img src="static/images/logo.jpg" class="h-100 w-100 rounded" alt="Image Not Found.">
    </div>
    <div class="card-body" style="overflow-y: auto; overflow-x: hidden;">
        <div class="row row-cols-1 gap-3 text-center">
            <div class="text-center">
                <a href="/" class="btn d-block btn-sm btn-success text-truncate" role="button">Dashboard</a>
            </div>
            <div class="text-center">
                <a href="/products" class="btn d-block btn-sm btn-success text-truncate" role="button">Products</a>
            </div>
            <div class="text-center">
                <a href="/checkout" class="btn d-block btn-sm btn-success text-truncate" role="button">Checkout</a>
            </div>
            <div class="text-center">
                <a href="/history" class="btn d-block btn-sm btn-success text-truncate" role="button">History</a>
            </div>
            <!-- <div class="text-center">
                <a href="/inventory" class="btn d-block btn-sm btn-success text-truncate" role="button">Inventory</a>
            </div>
            <div class="text-center">
                <a href="/categories" class="btn d-block btn-sm btn-success text-truncate" role="button">Categories</a>
            </div> -->
        </div>
    </div>
    <div class="card-footer">
        <div class="text-center">
            <a href="/inventory" class="btn d-block btn-sm btn-danger text-truncate" role="button">Logout</a>
        </div>
    </div>
</div>