<div class="row row-cols-1 align-items-center justify-content-center" style="height: 20%; overflow:hidden">
    <!-- <div class="w-100 h-75"> -->
        <img src="static/images/logo.jpg" class="img-fluid rounded h-75 w-50" alt="No image">
    <!-- </div> -->
    <!-- <div class="p-3 w-50 h-75">
        <p class="text-center " style="height: 100%; width: 100%;">POS</p>
    </div> -->
</div>
<div class="row p-3 gap-3  text-truncate" style="height: 80%; overflow:auto">
        <a href="/" class="btn btn-sm btn-success d-grid align-items-center">Dashboard</a>
        <a href="/menu-items" class="btn btn-sm btn-success d-grid align-items-center">Products</a>
        <a href="/new-order" class="btn btn-sm btn-success d-grid align-items-center">Checkout</a>
        <a href="/orders-history" class="btn btn-sm btn-success d-grid align-items-center">History</a>
        <a href="/inventory" class="btn btn-sm btn-success d-grid align-items-center">Inventory</a>
        <a href="/categories" class="btn btn-sm btn-success d-grid align-items-center">Categories</a>
        <br>
        <a href="/inventory" class="btn btn-sm btn-danger d-grid align-items-center">Logout</a>
</div>
<!-- <div class="row align-items-center border-top border-light" style="height: 10%; overflow:hidden">
    <h1 class="text-center fs-3 text-nowrap">Jumbo Burger</h1>
</div> -->