{% extends 'home/base.html' %}

{% block head %}
<link href="static/css/invoice.css" rel="stylesheet">
{% endblock head %}

{% block body %}
<div class="card h-100 bg-dark text-light">
    <div class="card-header">
        <div class="row row-cols-3 m-0">
            <div class="d-block px-1">
                <h3 class="m-0">Checkout</h3>
            </div>
            <div>
            </div>
            <div class="d-block">
                <form id="searchProductsForm">
                    <div class="input-group">
                        <input type="search" class="form-control form-control-sm" id="searchProducts" placeholder="Search Products...">
                        <button class="btn btn-sm btn-success" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body" style="overflow-y: auto; overflow-x: hidden;">
        <div class="row row-cols-2 m-0 h-100">
            <!-- Left Side -->
            <div class="card bg-dark text-light h-100">        
                <div class="card-body row row-cols-2 g-3 m-0" id="productsContainer" style="overflow: auto;">
                    <!-- Menu items populated via JavaScript -->     
                </div>
            </div>
            <!-- Right Side -->
            <div class="card bg-dark text-light h-100">
                <div class="card-header">
                    <div class="">
                        <h5 class="m-0">Current Order</h5>
                    </div>
                </div>
                <div class="card-body" style="overflow: auto;">
                    <div class="input-group gap-3" id="orderTypeForm">
                        <select class="form-select form-select-sm" id="orderType" required>
                            <option value="" disabled hidden>Choose order type</option>
                            <option value="Takeout">Takeout</option>
                            <option value="Dine in">Dine in</option>
                            <option value="Delivery">Delivery</option>
                        </select>
                        <input type="number" class="form-control form-control-sm" id="tableNumber" placeholder="0" min="1" max="10" step="1">
                    </div>
                    
                    <hr>
                    <div id="orderProducts" style="overflow: auto; height: 15%">
                        <!-- Order items will be populated here -->
                        <p class="text-muted">No items added yet</p>
                    </div>

                    <hr>
                    <div class="">
                        <label class="form-label">Discount</label>
                        <div class="input-group  gap-3">
                            <select class="form-select form-select-sm" id="discountType">
                                <option value="">None</option>
                                <option value="percent">Percentage (%)</option>
                                <option value="fixed">Fixed Amount</option>
                            </select>                            
                            <input type="number" class="form-control form-control-sm" id="discountValue" 
                                placeholder="0" step="1" min="0" disabled>
                        </div>
                    </div>

                    <!-- Update total display -->
                    <hr>
                    <div class="">
                        <div class="d-flex justify-content-between">
                            <span>Total:</span>
                            <span id="orderSubtotal">0.00</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Discount:</span>
                            <span id="orderDiscount">0.00</span>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center">
                        <h6>Grand Total: <span id="orderTotal">0.00</span></h6>
                        <div>
                            <!-- <button class="btn btn-danger me-2" onclick="clearOrder()">Clear</button> -->
                            <button class="btn btn-sm btn-success" onclick="saveOrder()">Save & Print</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% include "apps/invoice.html" %}

{% endblock %}

{% block JS %}
<script src="static/js/checkout.js"></script>
{% endblock %}